.nav {
  display: flex;
  color: var(--front);
  justify-content: right;
  padding-right: 5%;
  padding-top: 20px;
  position: fixed;
  z-index: 10;
  margin-left: auto;
  align-items: center;
  width: 100%;
}

.nav div {
  margin: 1vw;
  font-size: x-large;
  padding-right: 1rem;
  color: white;
  text-align: center;

}


/* CV button */
.nav .cv{
  margin-right: auto;
  background-color: transparent;
  padding: revert;
  color: white;
  transition: 0.5s ease-in-out;
  border: solid white;
  backdrop-filter: blur(15px);
  border-width: 0px 1px 1px 0px;
  background: rgb(0,0,0,0.2);
}

.nav .cv a{
  all: unset;
  width: 3rem;
  display: block;
  font-family: sans-serif;
  font-size: large;
}

 
.nav .cv:hover {
  color:black;
  border-radius: 20px;
  background-color: white;

}

.nav .sun {
  display: none;
}

.nav .close {
  display: none;
  z-index: 100;
  color: var(--front);
  top: 0;
  position: fixed;
  padding: 5%;

}

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  /* display: flex; */
  display: none;
  flex-direction: column;
  justify-content: center;

  background-color: var(--back);
  color: var(--front);
  /* align-items: center; */
  /* background-color: var(--back); */
}

@keyframes slide-in {
  from{
    transform: translateX(100%);
  }
  to{
    transform: translateX(0);
  }
}
@keyframes slide-out {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(100%);
  }
}

.menu .item{
  padding-left: 10vw;
  font-family: sans-serif;
  
}

.menu_link{
  all: unset;
  font-size: 10vw;
  /* transition: all 0.3s ease-in-out; */
}

.menu :nth-child(1) a{
  letter-spacing: 25px;
}
.menu :nth-child(2) a{
  letter-spacing: 10px;
}
.menu :nth-child(3) a{
  letter-spacing: 7px;
}
.menu :nth-child(4) a{
  letter-spacing: -0.3rem;
}

.menu_link{
  transition: ease-in-out .4s; 
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif */
}

.menu div:hover > .menu_link {
  text-shadow: 1px 1px 4px; 
  letter-spacing: 0;
}

.social_link{
  font-family: sans-serif;
  font-size: medium;
}

.social_link{
  color: var(--front);
  text-decoration: none;
  padding-right: 1rem;
}

.social_link:hover{
  text-shadow: 1px 1px 4px; 
  text-decoration: underline;
}

@media (max-width: 500px) {
  
.menu .item{
  padding-left: 5vw;
}
  .menu_link{
    font-size: 16vw;
  }
  .nav .cv{
    color: black;
    border-radius: 20px;
    background-color: white;
  }
}

@media (min-width: 900px) {
  .menu_link{
    font-size: 90px;
    width: 90px;
  }
  
.menu .item{
  padding-left: 20vw;
}
}
